<!DOCTYPE html>
<html ng-app="christmasApp">
  <head>
    <title>Christmas 2013 - </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="Christmas 2013 is a collection of songs, skits, and mixes – made with love for our friends.">

		<link href="style.css" rel="stylesheet" media="screen">

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
    <![endif]-->
	</head>
	<body ng-controller="christmasAudioController">
		<header class="site-header">
	    <div class="span4 logo">
	    	<img alt="logo" src="images/logo.png">
	    	<img id="navicon" alt="navicon" class="icon-align-justify visible-mobile" src="images/naviconsmobile.png">
	    </div>

	    <nav class="span14 pull-right text-right visible-mobile mobilenav">
				<ul id="nav">
					<li ng-repeat="track in playlist"><a href="#track{{$index+1}}" ng-click="audioPlayer.playPause($index)">{{track.title}}</a></li>
				</ul>
			</nav>
		</header>

		<div class="spacer180"></div>


		<!-- <div class="hidden-mobile" id="video_background">
		    <video autoplay loop preload="auto">
		    <source src="assets/san-francisco.mp4" type="video/mp4">
		    <source src="assets/san-francisco.webm" type="video/webm">
		    <source src="assets/san-francisco.ogv" type="video/ogg">
		    Video not
		    supported</video>

		    <div class="spacer90"></div>

		    <div class="spacer180"></div>

		    <div class="row">
		      <div class="span12 offset6 text-center slogan">
		      	<img alt="v_logo" src="images/logo.png">
		      </div>

		      <div class="span14 offset5 text-center slogan" style= "margin-top:50px;">
		        <h1 style="color:#fff">This is our Christmas Album of 2013, made with extra ♥ for our friends and family.</h1>
		      </div>
	    	</div>

	    	<div class="spacer90"></div>
	  	</div>

		<div class="wrapper start hidden-mobile">
			<div class="row"></div>
		</div> -->

		<audio player-control="audioPlayer" playlist="audioPlaylist" audio-player></audio>

		<div class="track" ng-repeat="track in playlist" id="track{{$index+1}}" ng-class="{parallax: track.parallax, active: audioPlayer.playing && audioPlayer.currentTrack-1 === $index}">
			<div class="spacer30"></div>
			<h2 ng-click="audioPlayer.playPause($index)">{{track.title}}</h2>
			<div class="spacer30"></div>
		</div>


		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/1.4.6/jquery.scrollTo.min.js"></script>
		<script src="js/jquery.nav.js"></script>
		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-audio-playlist/dist/angular-audio-player.min.js"></script>
		<!-- <script type="text/javascript" src="bower_components/jquery.stellar/src/jquery.stellar.js"></script> -->
		<!-- <script type="text/javascript" src="bower_components/angularjs-stellar/js/stellar.directives.js"></script> -->
		<!-- <script src="js/jquery.fitvids.js"></script> -->
		<script src="js/main.js"></script>
	</body>
</html>
